.timeo,
.timeo *,
.timeo *::before,
.timeo *::after
{
	all: unset;
	box-sizing: border-box;
	display: block;
}

.timeo
{
	background: #000;
	width: 100%;
	margin: 0 auto;
	max-width: 480px;
}

.timeo-viewport
{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}

.timeo-wrapper,
.timeo-button,
.timeo iframe,
.timeo video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.timeo video
{
	object-fit: cover;
}

.timeo-button
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	z-index: 1;
	cursor: pointer;
}

.timeo-button:focus-visible
{
	outline: 2px solid rgb(0, 160, 255);
	outline-offset: 3px;
}

.timeo-button::before
{
	content: "";
	width: 12%;
	padding-top: 12%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 999px;
	background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='play' class='svg-inline--fa fa-play fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='white' d='M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 57% 50%;
	background-size: 37% auto;
	background-color: rgba(0,0,0,.5);
}

.timeo-button:hover::before
{
	background-color: rgba(0,0,0,1);
}